@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
html,
body {
  font-family: "Martel Sans", sans-serif;
}

/*  */
/* start container */
/*  */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}

/*  */
/* start header */
/*  */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  line-height: 1.625;
}

.header__logo {
  height: 20px;
  margin-right: 30px;
}

.header__menu-nav {
  display: flex;
  flex-direction: row;
}

.header__menu-item {
  margin-right: 20px;
}

.header__menu-link {
  color: #3a414e;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.35;
}

.header__menu-link--active {
  color: #ff9907;
}

.header__icon {
  height: 12px;
  margin-right: 3px;
}

.header__icon--spacing {
  margin-right: 0;
}

/*  */
/* start banner */
/*  */
.banner {
  position: relative;
  padding: 10px;
}

.banner__photo {
  width: 100%;
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.625;
}

.content__head {
  font-size: 20px;
  font-weight: 700;
  color: #ffff;
  letter-spacing: 0.5;
}

.content__text {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5;
}

.content__date {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5;
}
